#category-filter {
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

#category-filter label select {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

h1 {
  color: rgba(65, 154, 249, 0.99);
}

#book-form {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.book-form-header {
  margin-top: 1rem;
}

input::placeholder {
  color: lightgray;
  font-size: 0.9rem;
  padding: 0.3rem;
}

#title-input {
  width: 50%;
}

#book-form button {
  border: solid 2px rgba(34, 139, 251, 0.99);
  background-color: rgba(65, 154, 249, 0.99);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

#category-hint {
  color: rgb(165, 165, 165);
  font-size: 0.9rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

/* eslint-enable declaration-colon-newline-after, no-console */
